# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/cango-cli/shorten_url/shorten
/cango-cli/cango-cli

# Dependency directories (remove the comment below to include it)
# vendor/
/.idea/cango.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/jessonchan.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
