<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cango</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<button onclick="showLink()">{{buttonValue}}</button>
{{$url:="/cango/2020/api.json"}}
{{$data:="color=red&offset=1&size=10"}}
<button onclick="requestJSON({{$url}},{{$data}})">
    <span class="rebeccapurple">OR click me!</span> API=>(url:{{$url}},data:{{$data}})
</button>
<a id="link" target="_blank" href="http://www.github.com/JessonChan/cango" class="rebeccapurple"
   style="display: none">{{.}}</a>
</body>
</html>